body{
    
    display: flex;
    justify-content: center;
}
.container{
    width: 375px;
    height: 490px;
    border: 2px solid black;
    background: pink;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}
.main{
    width: 350px;
    height: 450px;
   margin: 10px;
    background: gray;
    /* border-left: 3px solid black;
    border-right: 3px solid black; */
    border-bottom-left-radius: 75px;
    border-top-right-radius: 75px;
    
}
.header{
    /* border: 1px solid black;
    width: 350px; */
    /* background: black; */
    margin: 0%;
    padding: 0%;
    background: #E94560;
    height: 60px;
    width: 310px;
    margin: 10px;
    padding: 10px;
    /* margin-top: 10px; */
   
    border-top-right-radius: 75px;
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.name{
    
    display: flex;
    flex-direction: column;
}
.name h1{
    text-align: center;
    text-transform: uppercase;
  
    color: black;
    
   
}
.ide h3{
    margin: 0%;
    padding: 0%;
    text-align: center;
    text-transform: uppercase;
    color: black;
   
   
}
.hero{
    /* border: 2px dotted black; */
    padding: 10px;
    margin: 10px;
    align-items: center;
    text-align: center;
}

.hero img{
    border-radius: 50%;
    border: 4px solid #E94560;
    overflow: hidden;
    margin: 10px;
   
}
.info{
    text-align: center;
    background: #E94560;
    height: 95px;
    width: 310px;
    margin: 10px;
    padding: 10px;
    /* margin-top: 10px; */
   
    border-bottom-left-radius: 75px;
    
    color: black;
}
.info li{
    margin-top: 2%;
    list-style-type: none;
    font-weight: 1000;
}
.footer{
   
    padding-bottom: 15px;
    text-align: center;
    align-items: center;
}
.footer a{
    color: black;
    
    
    padding: 10px;
}